html {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

body {
    display: flex;
    flex: 1;
    margin: 0;
}

input {
    width: 100%;
}

button {
    margin: 2rem 0 0 2rem;
}

.left-hero-container {
    background-image: url('hero-image.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 0 1 40%;
}

.hero-overlay {
    background-color: black;
    opacity: 0.5;
    flex: 0 1 20%;
    margin-top: 15rem;
}

.hero-bottom-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    color: white;
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    flex: 1;

}

.form-top-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    padding: 3rem 3rem;
    font-size: 24px;
    font-weight: 120;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 0;
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    padding: 1rem 2rem;
}

.legend-container {
    margin-bottom: 1rem;
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
}

.input-field {
    margin: 0 7rem 1rem 0;
    flex-basis: 25%;
}

.form-bottom-section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.bottom-text {
    margin: 1rem 0 0 2rem;
}