@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

html {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    font-size: 16px;
    font-family: 'Poppins', monospace, sans-serif;
}

body {
    display: flex;
    flex: 1;
    margin: 0;
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
}

input {
    width: 100%;
    height: 2rem;
    font-size: 18px;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    border-radius: 5px;
    border-style: solid;
    background-color: rgb(255, 255, 239)
}

button {
    margin: 2rem 0 0 3rem;
    width: 250px;
    height: 3rem;
    box-shadow: 2px 2px 5px rgb(199, 199, 199);
    border: 0;
    background-color: #596D48;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

a {
    color: #596D48;
}

.left-hero-container {
    background-image: url('hero-image.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 0 1 40%;
}

.hero-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    flex: 0 1 20%;
    margin-top: 15rem;
    font-family: norse-bold, sans-serif;
    color: white;
    font-size: 100px;
}

.hero-overlay > p {
    margin: 0;
}

.hero-bottom-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    color: white;
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    flex: 1;

}

.form-top-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    padding: 3rem 3rem;
    font-size: 24px;
    font-weight: bold;
    width: 80%;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 0;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(202, 202, 202);
    padding: 1rem 3rem;
}

.legend-container {
    margin-bottom: 1rem;
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
}

.input-field {
    margin: 0 7rem 1rem 0;
    flex-basis: 25%;
}

.form-bottom-section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.bottom-text {
    margin: 1rem 0 0 3rem;
}

input:focus {
    box-shadow: 2px 2px 5px rgb(201, 201, 201);
    outline-width: 1px;
    outline-style: solid;
    outline-color: blue;
}

input:invalid {
    outline-style: solid;
    outline-width: 1px;
    outline-color: red;
}